CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
dist/
dell/
Docs/docs/
Resolvers/
Ayon_Usd_Resolver_cicd/
*pluginInfo.json
.cache
logFile*

.poetry/
.venv/
.python-version
tests/testVenv/

# ignored by lakectl local
v1/*
!v1/.lakefs_ref.yaml
# End ignored by lakectl local
