[submodule "ext/ayon-cpp-api"]
  path = ext/ayon-cpp-api
  url = git@github.com:ynput/ayon-cpp-api.git

[submodule "ext/ayon-cpp-dev-tools"]
  path = ext/ayon-cpp-dev-tools
	url = git@github.com:ynput/ayon-cpp-dev-tools.git
[submodule "automator"]
	path = automator
	url = git@github.com:ynput/ayon-automator.git
